<!DOCTYPE html>

<html>
  <head>
    <title> TODO LIST </title>
    <style>
      a {text-decoration: none; color: black;}
    </style>
  </head>

  <body>
    <h1>My ToDo List</h1>
    <ul>
      <% todolist.forEach(function(task,index){ %>
        <li><a href="/todo/delete/<%= index %>">✘ </a><%= task %></li>
      <% }); %>
    </ul>

    <form action="/todo/add/" method="post">
      <p>
        <label for="newtask">What should I do?</label>
        <input type="text" name="newtask" id="newtask" autofocus/>
        <input type="submit"/>
      </p>
    </form>
  </body>

</html>
